<div class="navbar navbar-default navbar-static-bottom">
    <div class="container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><%= link_to "About", pages_about_path %></li>
                <li><%= link_to "Terms and Conditions", pages_about_path %></li>
                <li><%= link_to "Faqs", pages_faqs_path %></li>
                <li><%= link_to "Contact", pages_contact_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "BRANDDIFY", pages_about_path %> <br>
                <div class="copyright">Copyright &copy; BRANDDIFY 2015</div></a>
                </li>
            </ul>
        </div>
    </div>
</div>